<div>
  <div class="container-flex">
  <h5>Your shopping cart</h5>
    <div>
      <div class="container-form">
        <div>
          <table class="shoppingcart">
            <tr>
              <th>Product name</th>
              <th>Price</th>
              <th>Quantity</th>
            </tr>
            <tr *ngFor="let product of cartJson">
              <td>{{ product.name }}</td>
              <td>{{ product.price }}</td>
              <input (change)="updateQuantity(product._id)" id="quantity{{product._id}}" type="number" value="{{ product.quantity }}">
            </tr>
          </table>
        </div>
      </div>
    </div>
  <h5>Total: {{ totalPrice.toFixed(2) }}€</h5>
  <button class="btn btn-primary rounded-pill"
  [routerLink]="['/order']">Order</button>

</div>