/* You can add global styles to this file, and also import other style files */
.router-outlet-content {
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 50px;
}
nav {
  position: fixed-top;
  top: 0;
}
body::before {
  display: block;
  content: '';
  height: 60px;
}