.orderBox {
  background-color: whitesmoke;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding:2rem;
  margin: 1rem;

}
.profile {
  margin-left: 5vw;
  margin-right: 5vw;
}
.orderBox * {
  text-align: start;
  margin: 0.2rem;
}
