<div class="container mb-5 text-center">
    <h1>Welcome to the untitled web store!</h1>
    <br>
    <button class="btn btn-primary rounded-pill white p-4 px-5" [routerLink]="['/store']">Start browsing now!</button>
    <br> <br>
    <h5>...or choose one of the categories below:</h5>
</div>
<br>
<div class="container">
  <div class="row align-items-center">
    <div class="col">
      <h5>Category</h5>
      <p>Here are category 2 items</p>
    </div>
    <div class="col">
      <h5>Category</h5>
      <p>Here are category 1 items</p>
    </div>
    <div class="col">
      <h5>Category</h5>
      <p>Here are category 3 items</p>
    </div>
  </div>
  <div class="row align align-items-center">
    <div class="col">
      <h5>Category</h5>
      <p>Here are category 4 items</p>
    </div>
    <div class="col">
      <h5>Category</h5>
      <p>Here are category 5 items</p>
    </div>
    <div class="col">
      <h5>Category</h5>
      <p>Here are category 6 items</p>
    </div>
  </div>
</div>