<!--Used new age as base for navbar https://startbootstrap.com/previews/new-age-->


<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
  <div class="container px-">
      <a class="navbar-brand fw-bold" [routerLink]="['']">Untitled<br>Web Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="bi-list"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
              <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link me-lg-3" [routerLink]="['/login']">Login</a></li>
              <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link me-lg-3" [routerLink]="['/register']">Register</a></li>
              <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link me-lg-3" [routerLink]="['/dashboard']">Dasboard</a></li>
              <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link me-lg-3" [routerLink]="['/profile']">Profile</a></li>
          </ul>
          <button class="btn btn-primary btn-round px-3">
                  <span>
                  <img src="assets/img/shpping_cart.png" width="40px" height="40px">
                  </span>
          </button>
      </div>
  </div>
</nav>